
//* DOC STYLES *//

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
  color: $background-color;
  background: url('../img/bgs/darklady.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body #page-id-1 {
  background: url('../img/bgs/dawn.jpg') center top;

}

img {
  image-rendering: -webkit-optimize-contrast;
}

#sitewrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  @media(max-width:$tablet) {
    max-width: 768px;
  }
  @media(max-width:$mobile) {
    flex-wrap: wrap;
    max-width: 100%;
  }
}

header {
  width: 10%;
  min-width: 91px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  @media(max-width:$mobile) {
    width: 100%;
  }
}

.page-content {
  max-width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  @media(max-width:$tablet) {
   width: 70%;
  }
  @media(max-width:$mobile) {
    width: 100%;
  }
}

//* FONT STYLES *//
body,
h2,
h3,
h4,
p {
  font-family: $base-font-family;
  line-height:$base-line-height;
}

p {
  font-style: normal;
  font-weight: normal;
  color: $text-color;
  font-size: $base-font-size;
    &.large-font-size {
      font-size: $large-font-size;
    }
}

a {
  color: $orange-color;
  text-decoration: none;
  font-size: $base-font-size;
}

a:hover {
  text-decoration: none;
  outline: none;
  color: $darkbrown-color-light;
}

a:active {
  text-decoration: none;
  color: $darkbrown-color-light;
}
a:focus {
  outline: none;
  text-decoration: none;
  color: $darkbrown-color-light;
}

li.active a {
  text-decoration: none;
  color: $darkbrown-color-light;
}

li {
  color: $text-color;
  font-size: $base-font-size;
}

h1 {
  font-family: "bebas-neue",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 2px;
  color: $text-color;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 {
  font-weight: 700;
  font-size: 22px;
  color:  $text-color;
}


h3 {
  font-weight: 400;
  color: $text-color;
}

h4 {
  font-weight: 700;
  color: $text-color;
}

sup {
  font-size: .6em;
}

hr.primary {
  border-top: 1px solid $blue;
  margin-left: auto;
  margin-right: auto;
}

.faktarutarubrik {
  font-family: flood-std, sans-serif;
}

hr.primary, hr.light, hr.dark {
  margin: 25px auto;
  border-bottom: none;
}

.orange {
  color:  $orange-color;
}



//* GENERAL STYLES *//
.img-fluid {
  max-width: 100%;
  height: auto;
}

.spacing-unit {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.padding {
  padding: $base-padding;
}

.dubbelpadding {
  padding-top: $dubbel-padding;
  padding-bottom: $dubbel-padding;
  padding-left: $base-padding;
  padding-right: $base-padding;
}

.text-center {
  text-align: center;
}

.white {
  background-color: #ffffff;
}
.black {
  background-color: #000000;
}


button, .button {
  border-radius: 25px;
  border: 3px solid $blue;
  font-weight: 400;
  font-size: 21px;
  padding: 0.5em 2em;
  box-shadow: none;
  background-color: $blue;
  color: $white-color;
  text-shadow: 1px 1px #5A5D5F;
  text-transform: none;
  margin-bottom: 1rem;
  marin-top: 1em;

  &:hover {
  background-color: transparent;
    color: $white-color;

  }
}


//* HEADER STYLES *//
.site-header .wrapper {
  .logo img.logoimg {
    max-width: 80px;
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }
  .logonamn img.logonamnimg {
    max-width: 40px;
    padding-bottom: $base-padding;
  }
  ul.navi {
    padding-top: $dubbel-padding;
  }
}

    //* NAV STYLES *//

  .icon {
    display: inline-block;
    /* size, color, etc. */
  }

  ul.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
  }

  li a:hover, .dropdown:hover .dropbtn {
    background-color: $orange-color;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }



//* BREADCRUMB STYLES *//

  .sidnavi >li+li:before {
    content: "/";
    display: inline-block;

    color: $blue;
  }

  ul.sidnavi > li.listsidnavi {
    padding-left: 20px;
    padding-right: 0;
  }


  //* SECTION STYLES *//

  .hero {
    h1 {
      color: $white-color;
      font-size: 46px;
    }

    p {
      text-shadow: 1px 1px #5A5D5F;
      font-weight: 400;
      color: $white-color;
      font-size: 21px;
      padding-bottom: 1em;
    }

  }

  .heroimg {
    max-height:260px;
    padding-top: 20px;

  }

  .produkter {
    padding: $spacing-unit;
    min-height: 450px;
    & > a > img {
      max-width: 200px;
    }
  }

  img.cert {
    max-width: 100%;
    display:block;
  }


  h1.pris, h2.pris{
    font-family: "bebas-neue",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $orange-color;
  }

  .buy-box {
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;
    border-bottom: 1px solid $blue;
    padding: 27px;
    margin-bottom: 27px;
  }

  //* ASIDE STYLES *//

  aside {
    position: relative;
    background-size: cover;
    background-position: center top;
    overflow: hidden;
    min-height: 550px;

  }

  //* PAGE STYLES *//


  ul.sidnavi {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-bottom: 0px;

    & > li {
      display: inline;
      padding-right: 30px;

      & > a {
        font-size: $small-font-size;

        &:active {
          color: $darkbrown-color;
        }
        &:hover {
          color: $darkbrown-color-light;
        }
        &:focus {
          color: $darkbrown-color;
          text-decortion: none;
        }
      }
    }
  }


  .listsida a {
    font-size: 21px;
    &.active a {
      color: $darkbrown-color;
    }
    &:hover {
      color: $darkbrown-color-light;
    }
    &:focus {
      color: $darkbrown-color;
      text-decortion: none;
    }
  }

  .produktprofilbild {
    max-width: 100%;
  }


  .profilbild {
    max-width: 250px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .faktaruta {
    background-color: #ffffff;
    padding: 27px;
    max-width: 100%;
  }

  h1.faktarutarubrik {
    transform: rotate -3 deg;
    color: $blue;
  }

  ul.ingredienslista {
    padding-left: 17px;
    padding-bottom: 17px;

    &>li {
      color:  $text-color;
      font-size: 18px;
    }
  }

  ul.plus {
    list-style-image: url('../img/plus.png');
    margin-bottom: 0;
  }
  ul.minus {
    list-style-image: url('../img/minus.png');
  }

  //* FOOTER STYLES *//

  .footerlogo img {
    padding-bottom: 40px;
    max-width: 60px;
  }

  .site-footer {
    bottom:0px;
    padding-top: $spacing-unit;
  }

  .footerh1 {
    color: $white-color;
  }


  //* JUMPTARGET STYLES *//

  .jumptarget:before {
    content: "";
    display: block;
    height: 80px; /* fixed header height*/
    margin: -80px 0 0; /* negative fixed header height */
  }

  ul.navi-footer {
    padding-left:0px;

    & > li, li.btn-group {
      display: inline;
      padding-right: 30px;


      & > a, a.btn-drh{
        color: $white-color;

        &:hover {
          color: $orange-color;
        }

      }
    }
  }

  .fb-like {
    padding-top: 20px;
    padding-bottom: 15px;
    max-width: 99%;
  }


  //* MEDIA QUERIES *//

  @include media-query($laptop) {
    .faktaruta {
      margin-bottom: 16px;
    }


  }

  @include media-query($tablet) {
    .produktprofilbild {
      max-width: 50%;
    }
    .faktaruta {
      margin-bottom: 16px;
    }

  }

  @include media-query($mobile) {

    .padding {
      padding-top: $spacing-unit;
      padding-bottom: $spacing-unit;
    }

    .dubbelpadding {
      padding-top: $base-padding;
      padding-bottom: $base-padding;
    }

    h1, .hero h1 {
      font-size: 30px;
    }
    .buy-box h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 20px;
    }

    ul.navi-footer {
      & > li {
        display: list-item !important;
        padding-right: 0px !important;
      }
    }

    ul.navi li,  ul.navi li.btn-group {
      padding-right: 15px;
    }

    .dropdown-menu#second {
      left: -55px;
    }

    footer h1 {
      font-size: 22px;
      color: $white-color;
    }

    .produktprofilbild {
      max-width: 80%;
    }

    .faktaruta {
      margin-bottom: 16px;
    }


  }


.bg-1 {
  background: url('../img/dome.jpg');
}

