
//* DOC STYLES *//

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height:100%;
  padding: 0;
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -ms-overflow-style: scrollbar;
  background: url('../img/bgs/trappa.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#page-1 {
  background: url('../img/bgs/kaktus.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
body#page-10 {
  background: url('../img/bgs/maneter.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body#page-22 {
  background: url('../img/bgs/water.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body#page-23 {
  background: url('../img/bgs/orangeleaf.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body#page-24 {
  background: url('../img/bgs/pojke.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body#page-25 {
  background: url('../img/bgs/greenleaf.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body#page-26 {
  background: url('../img/bgs/purplerain.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body#page-44 {
  background: url('../img/bgs/trappa2.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body#page-45 {
  background: url('../img/bgs/tunnel.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body#page-66 {
  background: url('../img/bgs/autumnplant.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body#page-56 {
  background: url('../img/bgs/kaktus.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#braattveta {
  background: url('../img/bgs/soffa.jpg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

#sitewrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @media (min-width: $laptop) {
    max-width: 70%;
    margin: 0 auto;
  }

  header.site-header {
    z-index: 4;
    width: 10%;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;

    @media (max-width: $mobile) {
      width: 100%;
      position: relative;
      height: auto;
    }
  }

  .page-content {
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 3;

    @media (max-width: $mobile) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

//* FONT STYLES *//


p {
  font-weight: 300;
  color: $text-color;
  margin-bottom:1.1rem;
  letter-spacing: 1px;
    &.large-font-size {
      font-size: $large-font-size;
    }
}

a {
  color: $link-color;
  text-decoration: none;
  font-size: $base-font-size;
  letter-spacing: 1px;
}

a:hover {
  text-decoration: none;
  outline: none;
  color: $dark-color-light;
}

a:active {
  text-decoration: none;
  color: $dark-color-light;
}
a:focus {
  outline: none;
  text-decoration: none;
  color: $dark-color-light;
}

li.active a {
  text-decoration: none;
  color: $dark-color-light;
}

li {
  color: $text-color;
  font-size: $base-font-size;
}

h1 {
  font-family: "bebas-neue",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 4px;
  color: $link-color;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
  color:  $text-color;
  margin-bottom: 1rem;
}


h3 {
  font-weight: 300;
  font-size: 2rem;
  color: $text-color;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 300;
  font-size: 1.4rem;
  color: $text-color;
  margin-bottom: 0.6rem;
}

sup {
  font-size: .6em;
}

hr.primary {
  border-top: 1px solid $blue;
  margin-left: auto;
  margin-right: auto;
}

.faktarutarubrik {
  font-family: flood-std, sans-serif;
  letter-spacing: 0;
  line-height: 4rem;
  margin-bottom: 1.5rem;
}

hr.primary, hr.light, hr.dark {
  margin: 0 auto 1rem auto;
  border-bottom: none;
}



//* GENERAL STYLES *//

img.img-fluid {
  max-width: 100%;
  height: auto;
}

.spacing-unit {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.padding {
  padding: $base-padding;
}

.dubbelpadding {
  padding-top: $dubbel-padding;
  padding-bottom: $dubbel-padding;
  padding-left: $base-padding;
  padding-right: $base-padding;
}

.text-center {
  text-align: center;
}

.white {
  background-color: #ffffff;
}
.black {
  background-color: #000000;
}
.grey {
  background-color: rgba(38, 41, 43, 0.87);
}
.orange {
  color:  $pink;
}


button, .button {
  border: 2px solid $blue;
  font-weight: 400;
  font-size: 21px;
  padding: 0.5em 2em;
  box-shadow: none;
  background-color: transparent;
  text-transform: none;
  margin-bottom: 1rem;
  margin-top: 1em;

  &:hover {
  background-color: $blue;
    color: $light-color;

  }
  a {
    color: $text-color;
  }
}


//* HEADER STYLES *//
.site-header .wrapper {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .logo img.logoimg {
      max-width: 80px;
      padding-top: $base-padding;
      padding-bottom: $base-padding;
      @media(max-width:$mobile) {
        padding-bottom: 0;
        max-width: 40px;
      }
    }
    .logonamn img.logonamnimg {
      max-width: 40px;
      padding-bottom: $base-padding;
      @media(max-width:$mobile) {
          display: none;
        }
      }

  a.namn {
    display: none;
    @media(max-width:$mobile) {
      display: block;
    }
  }

  ul.navi {
    padding-top: $spacing-unit;
    @media(max-width:$mobile) {
      padding-top: $base-padding;
    }
  }
}

    //* NAV STYLES *//

  ul.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li a, .dropbtn {
    text-align: center;
    padding: 0 8px;
    text-decoration: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $light-color;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
  }

  .dropdown-content a {
    color: $dark-color;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #b1b1b1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }



//* BREADCRUMB STYLES *//

  .sidnavi >li+li:before {
    content: "/";
    display: inline-block;

    color: $blue;
  }

  ul.sidnavi > li.listsidnavi {
    padding-left: 20px;
    padding-right: 0;
  }


  //* SECTION STYLES *//

.sloganbox {
  max-width: 80%;
  margin: 0 auto;
  h1.slogan {
    color: $light-color;
    font-size: 4rem;
    font-family: flood-std, sans-serif;
    @media (max-width: $tablet) {
      font-size: 2rem;
      max-width: 90%;
    }
  }
  @media (max-width:$tablet) {
    max-width: 90%;
    margin: 0 auto;
  }
  @media (max-width:$mobile) {
    max-width: 100%;
  }
}

 .sloganbox#sloganbox10 {
    min-height:50vh;
    h1.slogan {
      transform: rotate(350deg);
      @media (max-width: $mobile) {
        transform: rotate(5deg);
      }
    }
  }

.sloganbox#sloganboxindex {
  min-height:50vh;
  h1.slogan {
    transform: rotate(350deg);
    padding-bottom: 10vh;
    font-size: 2rem;
    @media (max-width: $mobile) {
      padding-top: 0;
      transform: rotate(355deg);
    }
  }
}


header h1 {
  color: $link-color;
}

//* FLIP CARD STYLES *//

.produktkort {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
  @media (max-width: $mobile) {
    justify-content: space-around;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 210px;
  height: 210px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  padding-bottom:20px;
  @media(max-width:$mobile) {
    width: 185px;
    height: 185px;
    padding-bottom:14px;
  }
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  img {
    max-width: 200px;
  }
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  border-radius: 6px;
  h1 {
    color: $link-color;
    margin-top: 20px;
    line-height: 4rem;
    letter-spacing: 2px;
  }
  p {
    color: $link-color;
  }
}
.flip-card-front.ten {
    background-color: $grey;
}
.flip-card-front.twenty2 {
    background-color: $dark-color;
}
.flip-card-front.twenty3 {
  background-color: $yellow;
}
.flip-card-front.twenty4 {
  background-color: $brown;
}
.flip-card-front.twenty5 {
  background-color: $green;
}
.flip-card-front.twenty6 {
  background-color: $pink;
}
.flip-card-front.thirty {
  background-color: $green;
}
.flip-card-front.thirty1 {
  background-color: $lightblue;
}
.flip-card-front.thirty2 {
  background-color: $purple;
}
.flip-card-front.forty4 {
  background-color: $purple;
}
.flip-card-front.forty5 {
  background-color: $cherry;
}
.flip-card-front.forty7 {
  background-color: $dark-color;
}
.flip-card-front.forty8 {
  background-color: $purple;
}
.flip-card-front.forty9 {
  background-color: $light-orange;
}
.flip-card-front.fifty5 {
  background-color: $yellow;
}
.flip-card-front.fifty6 {
  background-color: $pink;
}
.flip-card-front.sixty6 {
  background-color: $red;
}
.flip-card-front.sixty7 {
  background-color: $cherry;
}
.flip-card-front.seventy {
  background-color: $dark-color;
}
.flip-card-front.seventy1 {
  background-color: $orange;
}
.flip-card-front.eighty {
  background-color: $orange;
}
.flip-card-front.eighty1 {
  background-color: $blue;
}
.flip-card-front.ninty3 {
  background-color: $cherry;
}


  /* Style the back side */
  .flip-card-back {
    background-color: none;
    color: white;
    transform: rotateY(180deg);
  }


  .produkter {
    padding: $spacing-unit;
    min-height: 450px;
    & > a > img {
      max-width: 200px;
    }
  }

  img.cert {
    max-width: 70%;
    display:block;
    margin: 0 auto;
    @media(max-width:$mobile) {
      max-width: 100%;
    }
  }


  h1.pris, h2.pris{
    font-family: "bebas-neue",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $link-color;
  }

  .buy-box {
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;
    border-bottom: 1px solid $blue;
    padding: 27px;
    margin-bottom: 27px;
  }


  //* ARTICLE STYLES *//


  article {
    z-index: 5;
    p.small {
      font-size: $small-font-size;
    }
  }

  ul.sidnavi {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-bottom: 0px;

    & > li {
      display: inline;
      padding-right: 30px;

      & > a {
        font-size: $small-font-size;

        &:active {
          color: $dark-color-light;
        }
        &:hover {
          color: $dark-color-light;
        }
        &:focus {
          color: $dark-color-light;
          text-decortion: none;
        }
      }
    }
  }


  .listsida a {
    font-size: 21px;
    &.active a {
      color: $dark-color;
    }
    &:hover {
      color: $dark-color-light;
    }
    &:focus {
      color: $dark-color-light;
      text-decortion: none;
    }
  }

  img.img-fluid.produktprofilbild {
    max-width: 300px;
    padding: $base-padding;
  }


  .profilbild {
    max-width: 250px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .faktaruta {
    background-color: #ffffff;
    padding: 27px;
    max-width: 100%;
  }

  h1.faktarutarubrik {
    transform: rotate -3 deg;
    color: $blue;
  }

  ul.ingredienslista {
    padding-left: 17px;
    padding-bottom: 17px;

    &>li {
      color:  $text-color;
    }
  }

  ul.plus {
    list-style-image: url('../img/plus.png');
    margin-bottom: 0;
  }
  ul.minus {
    list-style-image: url('../img/minus.png');
  }



  //* FOOTER STYLES *//
footer {
  background-color: rgba(0,0, 0, 0.8);
  margin-top: 4rem;
  .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;

    img.icon {
      display: inline-block;
      max-width: 60px;
    }
  }

}
  //* JUMPTARGET STYLES *//

  .jumptarget:before {
    content: "";
    display: block;
    height: 80px; /* fixed header height*/
    margin: -80px 0 0; /* negative fixed header height */
  }

  article a.up {
      float: right;
      display: inline-block;
    }


  .fb-like {
    padding-top: 20px;
    padding-bottom: 15px;
    max-width: 98%;
  }


  //* MEDIA QUERIES *//

  @include media-query($laptop) {
    .faktaruta {
      margin-bottom: 16px;
    }

  }

  @include media-query($tablet) {
   p, a, li {
     font-size: $small-font-size;
   }
    .faktaruta {
      margin-bottom: 16px;
    }

  }

  @include media-query($mobile) {

    .padding {
      padding-top: $spacing-unit;
      padding-bottom: $spacing-unit;
    }

    .dubbelpadding {
      padding-top: $base-padding;
      padding-bottom: $base-padding;
    }


    h1, .hero h1, h1.faktarutarubrik, .buy-box h1 {
      font-size: 2rem;
      line-height: 2rem;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 20px;
    }

    footer h1 {
      font-size: 22px;
      color: $light-color;
    }

    img.img-fluid.produktprofilbild {
      max-width: 80%;
      padding: 0.5rem 0 1rem 0;
    }

    .faktaruta {
      margin-bottom: 16px;
    }
    .fb-like {
      max-width: 98%;
    }

  }




