---
layout: default
comments: true
---
<ul class="sidnavi">
    {% if page.type  == "produkter" %}
    <li class="listsidnavi"><a class="text-capitalize" href="/#page-produkter">{{ page.type }}</a></li>
    <li class="active"><a href="#page-top">{{ page.title }}</a></li>
    {% endif %}
    {% if page.type  == "ingredienser" %}
    <li class="listsidnavi"><a class="text-capitalize" href="/ingredienser/">{{ page.type }}</a></li>
    <li class="active"><a href="#page-top">{{ page.title }}</a></li>
    {% endif %}
</ul>
<main>
    {{ content }}
    <a class="up" href="#page-top"><i class="fa fa-angle-double-up" aria-hidden="true"></i> Upp</a>
    </article>
</main>
<aside class="fb">
    <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
    </div>
</aside>
