---
layout: default
comments: true
---
<ul class="sidnavi">
    {% if page.type  == "body" %}
    <li class="listsidnavi"><a class="text-capitalize" href="/body">{{ page.type }}</a></li>
    <li class="active"><a href="#page-top"> {{ page.title }}</a></li>
    {% endif %}
    {% if page.type  == "face" %}
    <li class="listsidnavi"><a class="text-capitalize" href="/face">{{ page.type }}</a></li>
    <li class="active"><a href="#page-top"> {{ page.title }}</a></li>
    {% endif %}
    {% if page.type  == "Hands & Feet" and page.title == "Hands & Feet" %}
     <li class="active"><a href="#page-top"> {{ page.title }}</a></li>
    {% endif %}
    {% if page.type  == "Hands & Feet" and page.title != "Hands & Feet" %}
    <li class="listsidnavi"><a class="text-capitalize" href="/hands-and-feet">{{ page.type }}</a></li>
     <li class="active"><a href="#page-top"> {{ page.title }}</a></li>
     {% endif %}
     {% if page.type  == "hair" and page.title == "Head & Hair" %}
      <li class="active"><a href="#page-top"> {{ page.title }}</a></li>
     {% endif %}
     {% if page.type  == "hair" and page.title != "Head & Hair" %}
     <li class="listsidnavi"><a class="text-capitalize" href="/hair">{{ page.type }}</a></li>
     <li class="active"><a href="#page-top"> {{ page.title }}</a></li>
      {% endif %}

      {% if page.type  == "hygiene" and page.title == "Hygiene and Wash" %}
       <li class="active"><a href="#page-top"> {{ page.title }}</a></li>
       {% endif %}
       {% if page.type  == "hygiene" and page.title != "Hygiene and Wash" %}
       <li class="listsidnavi"><a class="text-capitalize" href="/hygiene">{{ page.type }}</a></li>
       <li class="active"><a href="#page-top"> {{ page.title }}</a></li>
       {% endif %}

</ul>
<main>
    {{ content }}

    <aside class="upbox">
    <a class="up" href="#page-top"><i class="fa fa-angle-double-up" aria-hidden="true"></i> Upp</a>
    </aside>
    </article>
</main>
<aside class="fb">
    <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
    </div>
</aside>
